/*
Student Name: Nicholas Skelton
File Name: styles.css
Date: June 21st, 2025
*/

/* CSS Reset */

body, header, nav, main, footer, img, h1, h3, ul, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for header */

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #fccad4;
}

/* Style rules to show mobile class and hide tab-desk class */

.mobile {
  display: block;
}

.tab-desk {
  display: none;
}

/* Style rules for nav */

nav {
  background-color:#fccad4;
  border-top: white solid 7px;
  border-bottom: white solid 7px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: block;
  font-size: 2em;
  font-family: "Emilys Candy", serif;
  padding: 0.1em;
  border-top: 2px solid white;
  text-shadow: -6px 6px 8px #f06280;
}

nav li:first-child {
  border: none;
}

nav li a {
  text-decoration: none;
  color: #f06280;
}

/* Style rules for main content */

main {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.2em;
  background-color: #fccad4;
  padding: 1em 1.5em;
  font-weight: 800;
}

h1 {
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  padding-top: 8%;
  font-size: 3em;
}

h2 {
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  font-size: 3em;
}

main p {
  text-align: center;
}

main img {
  border: 4px solid #f06280;
  box-shadow: -6px 6px 16px #f06280;
}

.bevel {
  border-radius: 20%;
}

.bevel-soft {
  border-radius: 5%;
}

aside {
  text-align: center;
  margin: 3% 10% auto;
}

figure {
  margin: 2% 3%;
  max-width: 500px;
}

figure img {
  margin: 4% auto;
  border: 2px solid #f06280;
}

figcaption {
  text-align: center;
  text-shadow: -1px 1px 1px #7f7f7f;
  margin: auto 10%;
}

h3 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

/* Styles rules for footer */

footer {
  text-align: center;
  clear: left;
  background-color: #fccad4;
  border-top: white 7px solid;
  border-bottom: white 7px solid;
}

footer p {
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}

footer img {
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
  padding: 1em 1em .2em 1em;
}

/* Media Query for Tablet Viewport*/

@media screen and (min-width: 620px), print {

/* Style rules to hide mobile class and show tab-desk class */

  .mobile {
    display: none;
  }

  .tab-desk {
    display: block;
  }

/* Style rules for Tablet */

  nav li {
    display: inline-block;
    font-size: 2.5em;
    border: none;
    padding: 0.5em 1em;
  }

  main {
    display: inline-block;
    padding: 0%;
  }

/* Style rules Hobby Page Grid */

  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  aside {
    grid-column: 1 / span 2;
  }

  figure {
  margin: 2% 10%;
  max-width: 500px;
  }

  figure img {
  margin: 4% auto;
  border: 2px solid #f06280;
  }

/* Style rules Home Page Grid */

  #index-top, #index-bot, #about-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem 3rem;
    padding: 2%;
  }

  #index-bot {
    background-color: #ffbdca;
  }

  #text-area {
    padding: auto 20rem;
  }

  .top-text, .bot-text {
    text-align: justify;
  }

  .garden, .bugz {
    margin: auto;
  }

/* Style rules for table */

  table {
    border: 1px solid #f06280;
    border-collapse: collapse;
    margin: 3% auto;
    width: 95%;
  }

  caption {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding: 1em .5em;
  }

  th, td {
    border: 1px solid #f06280;
    padding: 1%;
  }

  th {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #f06280;
    border-color: #fccad4;
  }

  td:nth-child(1), td:nth-child(2) {
    font-size: 1.8rem;
  }

  td:nth-child(2) {
    width: 15%;
  }

  td li {
    text-align: left;
    margin: .5em auto;
    list-style-type: none;
  }

  tr:nth-child(odd) {
    background-color: #ffbdca;
  }

  .liberty {
    margin: auto;
  }

}

/* Media Query for Desktop Viewport */

@media screen and (min-width: 1000px), print {

  nav li {
    display: inline-block;
    font-size: 3.7em;
    padding: .5em 1.3em;
  }

  nav li a:hover {
    color: #e01d47;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  aside {
    grid-column: 1 / span 3;
  }

  .top-text, .bot-text, .hobby-text, .about-text {
    font-size: 1.5em;
    margin: 2em 3em;
  }

}

/* Medie Query for Large Desktops */

@media screen and (min-width: 1921px) {

  body {
    background: linear-gradient(#fccad4, #f06280);
  }

  #wrapper {
    width: 1920px;
    margin: 0 auto;
  }

  main {
    background-color: #fccad4;
  }

  footer p {
    text-align: center;
  }

}

/* Media Query for Print */

@media print {
  body {
    background-color: white;
    color: black;
  }
}